.container{
    background-color: green;
    border: 20px solid white;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
}
body{
    background-color: orange;
}
#clock{
    font-size: 50px;
}